<app-header></app-header>

<div class="container">
    <div class="row text-center">
        <h2>Counter using NgRx Store</h2>
        <hr>
        <div class="col">
            <h2>Counter value: {{counter$ | async}}</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <button class="btn btn-success" (click)="increment()">Increment</button> &nbsp;&nbsp;
            <button class="btn btn-warning" (click)="decrement()">Decrement</button>
        </div>
    </div>
</div>