<app-header></app-header>

<div class="container">
    <div class="row text-center">
        <h2>Counter using NgRx Store</h2>
        <hr>
        <div class="col">
            <h2>Counter value: {{counter$ | async}}</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <button class="btn btn-success" (click)="increment()">Increment</button> &nbsp;&nbsp;
            <button class="btn btn-warning" (click)="decrement()">Decrement</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md6">
            <form [formGroup]="myNewForm" (ngSubmit)="getFormData()">
                <div class="row">
                    <div class="col-md4">
                        <input type="text" formControlName="skills"> &nbsp;&nbsp;<button (click)="addSkill()">Add Skill</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md4">
                        <div formArrayName="skillArray">
                            @for (skillGroup of skillList.controls; track $index) {
                                <input [formControlName]="$index" placeholder="Skill Name">
                            }
                        </div>
                    </div>
                </div>
                <button class="btn btn-success" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>