.title {
  color: brown;
}

.banner {
  display: block;
  padding: 15px 15px;
  border-radius: 10px;
}
.primary {
  color: white;
  background-color: #2e2473;
}
.placeholder {
  background-color: #ededed;
  border: dashed #e0e0e0 2px;
}
